.cargo-cloak {
    display: none;
}

body.cargo-editing {
}

.cargo-editing .cargo-has-content {
    outline: 1px dashed rgb(128, 0, 128);
}

    .cargo-editing .cargo-has-content:hover {
        background: rgba(128, 0, 128, 0.25);
    }
