@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}




.cargo-cloak {
    display: none;
}

body.cargo-editing {
}

.cargo-editing .cargo-has-content {
    outline: 1px dashed rgb(128, 0, 128);
    cursor: pointer;
}

    .cargo-editing .cargo-has-content.cargo-modified {
        outline: 1px dashed rgb(128, 0, 128);
        box-shadow: 0 0 8px rgba(255, 0, 255, 1.0);
    }

    .cargo-editing .cargo-has-content.cargo-itemediting {
        outline: 1px solid rgb(128, 0, 128);
        box-shadow: 0 0 8px rgba(128, 0, 128, 1.0);
        cursor: text;
    }

    .cargo-editing .cargo-has-content:hover {
        background: rgba(128, 0, 128, 0.25);
    }

    .cargo-editing .cargo-has-content.cargo-itemediting:hover {
        background: inherit;
    }

#cargo_toolbutton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 48px;
    height: 48px;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    -ms-word-wrap: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    font-family: 'Material Icons';
    text-align: center;
}

    #cargo_toolbutton a, #cargo_toolbutton a:visited, #cargo_toolbutton a:active {
        text-decoration: none;
        color: rgba(255,255,255,0.5);
    }

        #cargo_toolbutton a:hover {
            text-decoration: none;
            color: white;
            -moz-transition: color ease 0.1s;
            -o-transition: color ease 0.1s;
            -webkit-transition: color ease 0.1s;
            transition: color ease 0.1s;
        }

    #cargo_toolbutton > a {
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        background-color: rgb(16,108,200);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        cursor: pointer;
        font-size: 32px;
        line-height: 48px;
        z-index: 1001;
    }

        #cargo_toolbutton > a.cargo-saving {
            -moz-animation-duration: 0.5s;
            -o-animation-duration: 0.5s;
            -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
            -moz-animation-name: spin;
            -o-animation-name: spin;
            -webkit-animation-name: spin;
            animation-name: spin;
            -moz-animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            cursor: not-allowed;
        }

    #cargo_toolbutton > ul {
        display: inline;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0 0;
        padding: 8px 0 8px 0;
        margin-right: 48px;
        z-index: 1000;
        opacity: 0;
        -moz-transition: opacity ease 0.2s;
        -o-transition: opacity ease 0.2s;
        -webkit-transition: opacity ease 0.2s;
        transition: opacity ease 0.2s;
    }

.cargo-editing #cargo_toolbutton:hover > ul, .cargo-editing #cargo_toolbutton > ul:hover {
    opacity: 1;
}

#cargo_toolbutton > ul > li {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: rgb(16,108,200);
    border-radius: 50%;
    margin-right: -32px;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.26);
    -moz-transition: margin-right ease 0.2s;
    -o-transition: margin-right ease 0.2s;
    -webkit-transition: margin-right ease 0.2s;
    transition: margin-right ease 0.2s;
}

.cargo-editing #cargo_toolbutton:hover > ul > li, .cargo-editing #cargo_toolbutton > ul:hover > li {
    margin-right: 10px;
}
