<div ng-if="false">@Content("Angular is still \"loading\". haha")</div>

<h2>@Content("Angular")</h2>

<div>
    <div ng-controller="mainController">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    @Content("This text is controller by a controller: {{'Hello World!'}}. see?")
                </div>
                <div class="col-xs-4">

                </div>
                <div class="col-xs-4">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>



<script>
    setTimeout(function () {

        angular.bootstrap(document, ["cargoApp"]);
    }, 2000);



    angular.module("cargoApp", [])
        .controller('mainController', [function () {

        }]);
</script>